<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>additive-guis live</title>
  <meta name="description" content="">
  <meta name="author" content="">

 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/16.10.2/umd/react.development.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.10.2/umd/react-dom.development.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link href="https://getbootstrap.com/docs/4.0/examples/blog/blog.css" rel="stylesheet">

	<style>
	#input {
		float: left;
		top: 0px;
		width: 30vw;
		height: 100vh;
		position: sticky;
	}
	#output {
		width: 100%;
		margin-top: 0;
		margin-left: 30vw;
		overflow: scroll;
		position: absolute;
		top: 0px;
	}
	.folder-list {
		border: 3px inset;
	}
	.email-list {
		border: 3px inset;
	}
	.mail-preview {
		border: 3px inset;
	}

	</style>

</head>

<body>

<div>%OUTPUT%</div>

</body>
</html>
